.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
  padding: 8px 20px;

  text-align: center;

  border-radius: 6px;

  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;

  transition: all 0.2s linear;
}

.primary {
  color: var(--white);
  border: none;
  background: var(--primary);
}

.secondary {
  color: var(--primary);
  border: 1px solid var(--primary);
  background: var(--white);
}

.normalWeightFont {
  font-weight: 500;
}

.upperSizeFont {
  text-transform: uppercase;
}

.primary:hover {
  background: var(--primaryHover);
}

.secondary:hover {
  color: var(--white);
  background: var(--primary);
}
