.links {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;

  grid-gap: 5px;
}

.socialLinkIco {
  padding: 5px;

  height: 25px;
  width: 25px;

  color: rgba(70, 163, 88, 0.6);
  border: 1px solid rgba(70, 163, 88, 0.6);
  border-radius: 5px;

  transition: 0.2s all linear;
}

.socialLinkIco:hover {
  background: rgba(70, 163, 88, 0.6);
  color: var(--white);
}

.payment {
}
