.title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
}

.menu {
}

.menuItem {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 30px;
}
