.header {
  margin-top: 25px;
  width: 100%;
  /*min-width: 100vw;*/

  border-bottom: 1px solid var(--lightPrimary);
}

.navbar {
  display: grid;
  grid-template-columns: 180px 1fr 220px;

  align-items: center;
}

.right {
  justify-self: end;
}

.brand {
  display: block;
}
